.bottom-arrow
{
  color: black;
  bottom: 10%;
  position: fixed;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%,3%);
}
.top-arrow
{
  color: black;
  bottom: 97%;
  position: fixed;
  left: 50%;
  transform: translate(-50%,97%);
}