.opener {
  position: absolute;
  float: left;
  display: inline;
  padding: 0.5vw;
  color: black;
  cursor: pointer;
}
.sidebar {
  z-index: 1 !important;
}
.bar {
  height: 100%;
  
  position: fixed;
  z-index: 2 !important;
  top: 0;
  left: -20%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  word-wrap: break-word;
  transition: 0.3s;
}
.bar h1 {
    padding: 8px;
    text-decoration: none;
    font-size: 1vw;
    color: white;
    display: block;
    transition: 0.3s;
  }
.bar table>thead>tr 

{
    
    border-bottom: 1px solid white;
}
.bar table>tbody>tr
{
  
    border-bottom: 1px solid white;
}
.bar table>tbody>tr>td>h1
{
    text-align: left;
}
