.titleContainer {
  font-family: noto-sans;
  text-align: center;
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* position the div in center */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  border: 2px solid black;
}
.titleContainer,
h1 {
  font-size: 6vw;
  color: black;
}
.titleContainer,
h5 {
  font-size: 2vw;
  color: black;
}
.github {
  float: right;
  cursor: pointer;
  color: black;
  padding: .2vw;
}
.Sources {
  float: right;
  cursor: pointer;
  color: black;
  padding: .2vw;
}
.rwd-line {
  display: block;
}

@media screen and (min-width: 768px) {
  .rwd-line {
    display: inline;
  }
}
