.fade-appear,
.fade-enter {
    opacity: 0;
    

}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
    position: absolute;
    left: 0;
    right: 0;
}

.fade-exit {
    opacity: 1;
  
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
    position: absolute;
    left: 0;
    right: 0;
  
}

/* slide enter */
.slide-appear,
.slide-enter {
    opacity: 0;
    transform: translateY(100vw);
    z-index: 1;
  }
  .slide-appear-active,
  .slide-enter.slide-enter-active {
      opacity: 1;
      transform: translateY(0vw);
      transition: opacity 300ms linear , transform 300ms linear ;
  }
  
  /* slide exit */
  .slide-exit {
      opacity: 1;
      transform: translateY(-100%);
      
  }
  .slide-exit.slide-exit-active {
      opacity: 0;
      transform: translateY(0);
      transition: opacity 300ms linear, transform 300ms linear;
  }
  .slide-exit-done {
    opacity: 0;
  }
 